/* UserList.css */

.user-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  background-color: #f4f4f4; /* Background color for the container */
  padding: 20px;
  border-radius: 10px;
}

.loading {
  font-size: 18px;
  font-weight: bold;
  color: #000000; /* You can customize the color */
  margin-top: 20px;
}


/* Secondary Button Style (Add Task) */
.button-secondary {
  background-color: #000000; /* Your secondary button color (blue in this example) */
  color: #fff; /* Text color for secondary button */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* Adjust margin as needed */
}

/* Additional styling for selected file text */
.selected-file {
  margin-top: 10px;
  color: #000000; /* Text color for selected file */
}
